<div ng-controller="home as app">
    <div class="row">
        <div class="col-md-6 greeting">
            <div> Good {{ greeting }}, Syamil</div>
        </div>
        <div class="col-md-6">
            <div class="col-md-2">
                        <div class="temp">{{ weather.humidity }}</div>
                    </div>
                    <div class="col-md-2">
                        <div class="temp">{{ weather.humidity }}</div>
                    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="tile ">
                <div class="col-md-2">
                   <div class="temp">{{ weather.currentTemp }}</div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div>The weather is currently <span class="weather-state">{{ weather.currentState }}</span> with a high of <span class="weather-state">{{ weather.currentHigh }}</span>  and a low of <span class="weather-state">{{ weather.currentLow }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tile">
                <div class="col-md-2">
                    <div class="label">W</div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="transit_text">It will take {{ transit.duration }} if you leave at {{ transit.departure_time }}.</div>
                    </div>
                    <div class="row">
                        <div class="transit_arrive">You will arrive by: {{ transit.arrival_time }}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="tile">
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div>Humidity</div>
                    </div>
                </div>




            </div>



        </div>
    </div>


</div>